body {
  margin: auto;
  width: 1090px;
  background-color: #333;
  font-family: 'Open Sans';
}
h1 {
  font-size: 40px;
}
#intro {
  margin: 20px;
  padding: 1%;
  overflow: hidden;
  text-align: center;
  height: 250px;
  color: white;
  background-image: url('../img/bg.jpg');
  background-size: 150px;
  animation: deplacementBgIntro 15s linear infinite;
}
#intro section {
  display: inline-block;
  margin: 0;
  width: 48%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}
#intro #message {
  height: 80%;
  line-height: 120%;
}
#intro #inputs {
  margin-left: 10%;
  bottom: 10px;
}
#intro #inputs button {
  width: 110px;
}
@keyframes deplacementBgIntro {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
h2 {
  font-size: 24px;
  text-align: center;
  margin: 2%;
}
table {
  margin: auto;
  display: inline-block;
}
table td {
  padding: 1px 8px 1px 8px;
}
table td .scoreTemps {
  text-align: right;
}
#jeu {
  margin: 20px;
  padding: 1%;
  overflow: hidden;
  text-align: center;
  background-color: #aaa;
}
#jeu section {
  display: inline-block;
  margin: 0;
  width: 48%;
  height: 200px;
  position: relative;
  height: 500px;
}
#jeu #melangePieces {
  float: left;
}
#jeu .pieces {
  z-index: 2;
}
#jeu #conteneurGrille {
  position: relative;
  margin: auto;
  border: 5px solid #444;
  border-radius: 7px;
}
#jeu .cases {
  box-shadow: 0 0 1px black inset;
}
#jeu #minuterie {
  padding: 1%;
  position: relative;
  display: inline-block;
  margin: auto;
  text-align: center;
  float: right;
}
